//------------------------------------------------------------------------------------------------------------------------
.bce-sliderimg{
  position: relative; display: inline-block; z-index: 0; margin: 10px; 
   border-style: solid; border-color: #FF0000; border-width: 1px;  
   float: left;
}
.bcd_titulo{
  padding-top: 250px;
}
.bce-content .bce-postcontent-0 .layout-item-old-0 { border-top-width:1px;border-top-style:solid;border-top-color:#FF8593;margin-top: 10px;margin-bottom: 10px;  }
.bce-content .bce-postcontent-0 .layout-item-old-1 { padding-right: 10px;padding-left: 10px;  }
.bce-content .bce-postcontent-0 .layout-item-old-2 { border-right-style:solid;border-right-width:1px;border-right-color:#FF8593; padding-right: 10px;padding-left: 10px;  }
.ie7 .post .layout-cell {border:none !important; padding:0 !important; }
.ie6 .post .layout-cell {border:none !important; padding:0 !important; }

.bce-slidecontainer5f4d0 {
    position: relative;
    width: 100%;
    height: 300px;
      }
  

.bce-slidecontainer5f4d0 .bce-slide-item
{

}
.bce-slidecontainer5f4d0 .bce-slide-item {
    -webkit-transition: 600ms ease-in-out opacity;
    -moz-transition: 600ms ease-in-out opacity;
    -ms-transition: 600ms ease-in-out opacity;
    -o-transition: 600ms ease-in-out opacity;
    transition: 600ms ease-in-out opacity;
    position: absolute;
    display: none;
	left: 0;
	top: 0;
	opacity: 0;
    width:  100%;
    height: 100%;
}

.bce-slidecontainer5f4d0 .active, .bce-slidecontainer5f4d0 .next, .bce-slidecontainer5f4d0 .prev {
    display: block;
}

.bce-slidecontainer5f4d0 .active {
    opacity: 1;
}

.bce-slidecontainer5f4d0 .next, .bce-slidecontainer5f4d0 .prev {
    width: 100%;
}

.bce-slidecontainer5f4d0 .next.forward, .bce-slidecontainer5f4d0 .prev.back {
    opacity: 1;
}

.bce-slidecontainer5f4d0 .active.forward {
    opacity: 0;
}

.bce-slidecontainer5f4d0 .active.back {
    opacity: 0;
}
.bce-slidenavigator5f4d0 {
  display: inline-block;
  position: absolute;
  direction: ltr !important;
  top: 340px;
  left: 0%;
  z-index: 101;
  line-height: 0 !important;
  -webkit-background-origin: border !important;
  -moz-background-origin: border !important;
  background-origin: border-box !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
    white-space: nowrap;
      right: 0px;
  }
.bce-slidenavigator5f4d0
{
background: #FFCD61;background: transparent;background: transparent;background: transparent;background: transparent;background: transparent;background: transparent;-svg-background: transparent;
-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;


padding:3px;





}
.bce-slidenavigator5f4d0 > a
{
background: #A87300;background: #A87300;background: #A87300;background: #A87300;background: #A87300;background: #A87300;background: #A87300;-svg-background: #A87300;
-webkit-border-radius:20%;-moz-border-radius:20%;border-radius:20%;

border:1px solid #E59D00;

margin:0 10px 0 0;

width: 15px;

height: 15px;
}
.bce-slidenavigator5f4d0 > a.active
{
background: #68081A;background: #68081A;background: #68081A;background: #68081A;background: #68081A;background: #68081A;background: #68081A;-svg-background: #68081A;
-webkit-border-radius:20%;-moz-border-radius:20%;border-radius:20%;

border:1px solid #68081A;

margin:0 10px 0 0;

width: 15px;

height: 15px;
}
.bce-slidenavigator5f4d0 > a:hover
{
background: #A10C27;background: #A10C27;background: #A10C27;background: #A10C27;background: #A10C27;background: #A10C27;background: #A10C27;-svg-background: #A10C27;
-webkit-border-radius:20%;-moz-border-radius:20%;border-radius:20%;
border:1px solid #DA1035;
margin:0 10px 0 0;
width: 15px;
height: 15px;
}
.bce-square{
  width:100%;
  margin-left: -15px;
  height: auto;
  border-style: solid;
 border-width: 1px;
  text-align: center;
  border-color: #FF0000;
}
.bce-log{
margin-left: 5px;
  width: 165px;
  text-align: center;
}
.bce-regis{
  width: 60%;
  font-size: 16px !important;
  color: black;
}

.bce-regis1{
margin-left: 52px;
width: 45%
}
.bce-regis , .bce-regis1{
float: left;
  }
 
/*-----------------------------------------------------------------------------------*/
/*	CAROUSEL
/*-----------------------------------------------------------------------------------*/
.carousel {
	height: 255px;
	padding-top: 5px;
}
.carousel ul li {
	background: none;
	width: 200px;
	margin-right: 20px;
	padding: 0;
}
.jcarousel-direction-rtl {
	direction: rtl;
}
.carousel .jcarousel-container {
	display: block;
	overflow: hidden;
}
.carousel .jcarousel-item {
	width: 200px;
	height: 255px;
/* 164px * 130px*/
}
.carousel .jcarousel-item img {
	padding: 0;
        border-radius: 6px;
        width: 200px;
        height: 250px;
}
.carousel .jcarousel-container {
	display: block;
	overflow: hidden;
	height: 289px;
}
.carousel .jcarousel-clip-horizontal {
	width:  750px;
	height: 255px;
	overflow: hidden;
	display: block;
}
.carousel .jcarousel-item {
	width: 200px;
	height: 255px;
}
#carousel-scroll {
	float: right;
	margin-top: -42px;
}
#prev, #next {
	background: transparent url('img/car-arrow.png') no-repeat;
	width: 21px;
	height: 21px;
	text-indent: -99999px;
	display: block;
	-webkit-transition:none;
	-o-transition:none;
	-moz-transition:none;
}
#prev {
	background-position: top left;
	float: left;
}
#next {
	background-position: top right;
	float: right;
	margin-left: 6px;
}
#prev:hover {
	background-position: bottom left;
}
#next:hover {
	background-position: bottom right;
}

/*-----------------------------------------------------------------------------------*/
/*	PORTFOLIO HOVER
/*-----------------------------------------------------------------------------------*/

.box a, .carousel ul li {
	display: block;
	position: relative;
}
.box a img, .carousel ul li img {
	display: block;
	position: relative;
}
.play, .zoom, .details {
	position: absolute;
	background: transparent url(style/images/icon-play.png) no-repeat center center;
}
.zoom {
	background-image: url(img/icon-zoom.png);
}
.details {
	background-image: url(img/icon-more.png);
}
.box a span, .carousel ul li a span {
	display: none;
	height: 100%;
	position: absolute;
	text-align: center;
	text-decoration: none;
	width: 100%;
	z-index: 100;
}

.overlay {
	background-color: rgba(15, 15, 15, 0.4);
}
/*--------------------------------------------------------------------------------------*/
.bc-info, .bce-success, .bce-warning, .bce_error, .bce-validation {
border: 1px solid;
margin: 10px 0px;
padding:15px 10px 15px 50px;
background-repeat: no-repeat;
background-position: 10px center;
}
.bce-info {
color: #00529B;
background-color: #BDE5F8;
background-image: url('img/info.png');
}
.bce-success {
color: #4F8A10;
background-color: #DFF2BF;
background-image:url('img/success.png');
}
.bce-warning {
color: #9F6000;
background-color: #FEEFB3;
background-image: url('img/warning.png');
}
.bce_error {
color: #D8000C;
background-color: #FFBABA;
background-image: url('img/error.png');
}
th{
	text-align:right;
	text-align:right !important;
	}
	.bce-table{
		border-collapse:collapse;
		 border: none;
	}
